<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> header}}
    <title>{{ titulo }}</title>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

       {{> navbar}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Empleados</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/home">{{titulo}}</a></li>
                                <li class="breadcrumb-item active">{{ consecutivo }}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Empleados registrados en el sistema</h3>
                                    <div class="col-lg-12" style="float: right; width: 16%; margin-right: -3%"> <a
                                            class="btn btn-success boton-registro" href="/registroEmpleados">
                                            Agregar Empleado</a>
                                    </div>
                                </div>
                                 <div class="row"></div>
                                    
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Cedula</th>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Direccion</th>
                                                <th>Telefono</th>
                                                <th>Estado</th>                                            
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each lista_empleados}}
                                            <tr>
                                                <td>{{ id_Empleado }}</td>
                                                <td>{{ cedula}}</td>
                                                <td>{{ nombre_Empleado }}</td>
                                                <td>{{ correo }}</td>
                                                <td>{{ direccion }}</td>
                                                <td>{{ telefono }}</td>
                                                <td>{{ estado_Empleado }}</td>
                                               
                                                <td>
                                                    <button><i class="fa-solid fa-pen-to-square"></i></button>
                                                    <button><i class="fa-solid fa-eye"></i></button>
                                                    <button><i class="fa-solid fa-toggle-on"></i></button>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>N°</th>
                                                <th>Cedula</th>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Direccion</th>
                                                <th>Telefono</th>
                                                <th>Estado</th>                                               
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        
        <!-- /.content-wrapper -->
        {{> footer}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jszip/jszip.min.js"></script>
    <script src="/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://kit.fontawesome.com/4de2284caa.js" crossorigin="anonymous"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>
    
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>

</html>